body
{
    background-image: linear-gradient(145deg, rgba(255, 178, 0, 0.65) 0%, rgba(128, 0, 0, 0.85) 100%);
    background-size: cover;
    padding: 0;
    margin: 0;
}

.s:before {
  position: fixed;
  top: 25rem;
  left: 65rem;
  width: 18.75rem;
  height: 10.9375rem;
  border: .625rem solid;
  border-color: rgba(255, 255, 255, 0.2);
  content: " ";
}

.s1:after {
    position:fixed;
    top: 20rem;
    left:60rem;
    right: 35rem;
    bottom: -10rem;
    width: 9.375rem;
    height: 9.375rem;
    border: .625rem solid;
    z-index: -1;
    border-color: rgba(255, 178, 0, 0.9);
    content: " ";
}

::placeholder { 
    color:#C0C0C0;
    opacity: 0.5;
    font-size: 12px;
}

.boxs
{
    margin-top: 4%;
    padding-top: 10px;
    padding-bottom: 10%;
    padding-left: 0.05%;
    margin-bottom: 2.75%;
    margin-left: 16%;
    width: 420px;
    height: 520px;
    background: rgba(0,0,0,0.1);
    border-radius: 05px;
    
}

.boxr
{
    float: left;
    margin-top: 5%;
    margin-bottom: 17%;
    padding-top: 10px;
    padding-bottom: 1%;
    padding-left: -5%;
    margin-left: 15%;
    width: 820px;
    height: 850px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    
}

p.form-title
{
    font-family:Verdana,sans-serif;  
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color:whitesmoke;
    margin-top: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"], form.login input[type="email"]
{
    width: 100%;
    margin: 10px;
    padding: 20px 10px;
    background: 0;
    border-bottom: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color:skyblue;
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
 
}

form.login input[type="submit"]:hover
{
    background-color: rgba(255,178,0,0.9);
    color:black;
    border-radius: 60px;
    transition: 1s;
}

form.login input[type="button"]:hover
{
    background:  rgba(255,178,0,0.5);
    color:black;
    border-radius: 60px;
    transition: 1s;
}

form.login input[type="submit"], form.login input[type="button"]
{
    margin: 8px;
    color: black;
    width:inherit;
    height: 55px;
    background: rgba(255,178,0,0.5);
    border-radius: 60px;
    border-style: hidden;
}

form.login .forgot-pass-content
{
    min-height: 20px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

select{
    width: 270px;
    font-size:11px;
    border: 0px;
    border-radius: 9px;
    height:32px;
    opacity: 0.8;
    padding-left:6px;
    }
    
.font1
{
	font-family:Verdana,sans-serif;  
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color:whitesmoke;
    text-transform: uppercase;
	margin-left: -55%;
	
}
.font2
{
	font-family:Verdana,sans-serif;  
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color:whitesmoke;
    text-transform: uppercase;
}
